---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div id="age-verification-modal" style="display: none;" class="Modal">
      <!-- Modal content -->
      <div class="Modal-content">
<!--        <span id="closeModal" class="Close">&times;</span>-->
        <p>Η ιστοσελίδα απευθύνεται σε άτομα άνω των 18. Παρακαλώ επιβεβαιώστε.</p>
        <div class="buttons">
          <a id="button-under-18" class="button button--secondary button--rounded">Είμαι κάτω των 18 ετών</a>
          <a id="button-over-18" class="button button--primary button--rounded">Είμαι άνω των 18 ετών</a>
        </div>
      </div>
    </div>
    <div class="root" style="display: none;" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
      {%- include age-verification/age-verification.js -%}
    </script>
  </body>
</html>
